node_modules
dist
coverage
.test-dist
.DS_Store
apps/docs/.marimo-cache
apps/docs/.next
apps/docs/.source
apps/docs/out
apps/docs/content/docs/**/__marimo__
examples/*/.marimo-cache
examples/*/.next
examples/*/.astro
examples/*/.docusaurus
examples/*/build
examples/*/dist
examples/*/.nuxt
examples/*/.output
examples/*/content/**/__marimo__
examples/*/pages/**/__marimo__
examples/*/src/**/__marimo__
