node_modules
dist
coverage
.test-dist
.DS_Store
apps/docs/.next
apps/docs/.source
apps/docs/out
examples/*/.next
examples/*/.astro
examples/*/.docusaurus
examples/*/build
examples/*/dist
examples/*/.nuxt
examples/*/.output
